@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: linear-gradient(90deg);
    padding: 20px;
}

.container-form{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
}

.ctn-form{
    width: 80%;
    padding: 40px;
    background: #F7F7F7;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 5px 5px 3px black;
    margin-bottom: 300px;
}

.logo2{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222121;
}
.logo2 h4 b{
    color: #ce1212;
}

.title{
    text-align: center;
    font-weight: 300;
    color: #7A7A7A;
}

.subtitle{
    text-align: center;
    font-weight: 300;
    color: #7A7A7A;
}